<div id="formCon" class="large-12 columns modal-body">
     <form>
    <div class="row">
    <div class="large-12 columns">
      <label id="title">
        <input ng-required="true" type="text" ng-model="title" placeholder="Title" />
      </label>
    </div>
    <div class="large-12 columns">
      <label>
        <input ng-required="true" type="text" ng-model="location" placeholder="Location" />
      </label>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="shortDate" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openy($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>
    <div class="row">
    	<div class="large-12 columns">
    		<timepicker ng-model="mytime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
    	</div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-12 large-12 columns">
      <label>
        <textarea ng-required="true" ng-model="description" placeholder="Description"></textarea>
        <div class="small-12 medium-12 large-12 columns"><a href="#" id="submit" class="button rounded expand" ng-click="ok()">SUBMIT</a></div>
      </label>
    </div>
  </div>
</form>
</div>